.wrapper {
  padding: 15px 35px;

  background: #fff;

  width: 100%;
  max-width: 515px;

  @media (max-width: 576px) {
    max-width: 100%;
    padding: 15px;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  margin-bottom: 10px;
}

.formFields {
  padding: 20px 12px;
  margin-bottom: 10px;

  border: 1px solid #F3F3F3;
  box-sizing: border-box;
  border-radius: 8px;
}

.error {
  padding: 0 12px;
  font-size: 10px;
  color: red;
}
