.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  padding: 10px;

  background: #F3F3F3;
  border-radius: 8px;
}

.link {
  font-size: 12px;
  line-height: 14px;

  color: #4B51EF;
}
