.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
}

.rotate {
  padding: 2rem 1rem;
  font-size: 1.2rem;

  animation: rotateAnimation 2s linear infinite;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
